 <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                
                            </form>
                            
                            <div class="header-button">
                               <form class="form-header" action="" method="POST">
                                <a href="#" data-toggle="modal" data-target="#modalAppointment" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-account"></i>Sign Out</a>
                            </form> 
                            </div>
                            
                        </div>
                    </div>
                </div>
</header>