<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        
            <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/home">
                        <i class="fas fa-tachometer-alt"></i>Home</a>
                    
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="/clinicalEngineer">
                        <i class="fas fa-copy"></i>Clinical Engineers</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="/sparePart">
                        <i class="fas fa-copy"></i>Spare Parts</a>
                </li>
                <li class="has-sub">
                    <a href="/agentSupplier">
                        <i class="fas fa-table"></i>Agent Suppliers</a>
                </li>
                <li class="has-sub">
                    <a href="/workOrder">
                        <i class="fas fa-table"></i>Work Orders</a>
                </li>
                <li class="has-sub">
                    <a href="/equipment">
                        <i class="fas fa-copy"></i>Equipment</a>
                </li>
                <li class="has-sub">
                    <a href="/department">
                        <i class="fas fa-table"></i>Departments</a>
                </li>
                <li class="has-sub">
                    <a href="/maintenance">
                        <i class="fas fa-table"></i>Maintenance</a>
                </li>
                <li class="has-sub">
                    <a href="/breakdown">
                        <i class="fas fa-table"></i>Break Downs</a>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
