<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="page-wrapper">
                <div class="page-content--bge5">
                    <div class="container">
                        <div class="login-wrap">
                            <div class="login-content">
                                <div class="login-logo">
                                    <a href="#"><img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>        
                                </div>
                                <div class="login-form">
                                    <form action="/engineer/ppm/equipment" method="POST">
                                <div class="form-group">
                                    <label class=" form-control-label">Equipment</label>
                                    <select name="Code"required id="select" class="form-control">
                                        {{#each equipments}}
                                            <option value="{{this.Code}}">{{this.Name}} {{this.Code}} {{this.Department}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ppm</button>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

        </div>
    </div>        
</div>