<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="page-wrapper" style="height: auto;" >
                <div class="page-content--bge5" style="height: auto;">
                    <div class="container" style="height: auto;">
                        <div class="login-wrap">
                            <div class="login-content">
                                <div class="login-logo">
                                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>        
                                </div>
                                <div class="login-form" style="height: auto;">
                                    <form action='/breakDown/add' method="POST">
                                        <input type="text" hidden name="Code" value="{{ breakDown.Code}}">    
                                        <div class="form-group">
                                            <label class=" form-control-label">Reason</label>
                                            <input type="text" required name="Reason"  placeholder="New Reason" value="{{breakDown.Reason}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class=" form-control-label">Date</label>
                                            <input type="date" required name="DATE" placeholder="New Date" value="{{breakDown.DATE}}" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class=" form-control-label">EquipmentCode</label>
                                            <input type="text" required name="EquipmentCode" placeholder="New EquipmentCode" value="{{breakDown.EquipmentCode}}" class="form-control">
                                        </div>                                        
                                        <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">ADD</button>
                                
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

        </div>
    </div>        
</div>