<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<base href="/"> 
	<title>{{pageTitle}}</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/error.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
				<h1>ERROR!!</h1>
			<div class="notfound-404">
				<h1><span></span></h1>
			</div>
			<h2>Oops! SomeThing Wrong Has happend </h2>
			<h3>{{ message }}</h3>
			<a href="{{ href }}">Back to homepage</a>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
