<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Home</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop4">
            <div class="container">
                <div class="header4-wrap">
                    <div class="header__logo">
                        
                        <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#Features-section">
                                    <i class="fas fa-trophy"></i>
                                    <span class="bot-line"></span>Features
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#modalAppointment">
                                    <i class="fa fa-user"></i>
                                    <span class="bot-line"></span>Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">ROS</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="images/icon/avatar-01.jpg" alt="John Doe" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">ROS</a>
                                            </h5>
                                            <span class="email">Software Means Maintenance Success</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#signinn">
                                                <i class="zmdi zmdi-account"></i><span class="bot-line"></span>Sign In</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- WELCOME-->
        <section class="welcome2 p-t-40 p-b-55">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="au-breadcrumb3">
                            <span class="subheading">Welcome to ROS</span>
                            <h1 class="mb-6">Our <span> CMMS</span> provide</h1>
                            <p class="mb-4">reliable scheduling, tracking and reporting tools for equipment and facilities maintenance.
                            It is easy and simple to use for management of medical organizations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END WELCOME-->

            <!-- STATISTIC-->
            <section class="statistic statistic2" id="Features-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="statistic__item statistic__item--green">
                                <div class="login-logo">
                                    <h2><i class="far fa-calendar-check"></i></h2>
                                </div>
                                <span></span>
                                <div class="login-logo"><h2>WorkOrder</h2></div>
                                <span class="desc">Get the highest priority work done while making sure lower priority work doesn't slip through the cracks</span>  
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="statistic__item statistic__item--orange">
                                <div class="login-logo">
                                    <h2><i class="fa fa-cogs"></i></h2>
                                </div>
                                
                                <div class="login-logo"><h2>Parts Management</h2></div>
                                <span class="desc">Track and report on the consumption of items with simple inventory records.</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="statistic__item statistic__item--blue">
                                <div class="login-logo">
                                    <h2><i class="fa fa-clone"></i></h2>
                                </div>
                                <div class="login-logo"><h2>View Reports</h2></div>
                                <span class="desc">Viewing important reports like PPM,Installation,Daily Inspection.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="statistic__item statistic__item--red">
                                <div class="login-logo">
                                    <h2><i class="fa fa-heartbeat"></i></h2>
                                </div>
                                <div class="login-logo"><h2>Extend Equipment Life</h2></div>
                                <span class="desc">Identify Problem areas in your assets by checking work order history and saying on top of scheduled maintenance</span>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="statistic__item statistic__item--violet">
                                <div class="login-logo">
                                    <h2><i class="fa fa-clock-o"></i></h2>
                                </div>
                                <div class="login-logo"><h2>Minimize Downtime</h2></div>
                                <span class="desc">Reduce equipment downtime by optimizing maintenance scheduling and reducing the time it takes to respond to emergency repairs</span>
                                
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="statistic__item statistic__item--blue2">
                                <div class="login-logo">
                                    <h2><i class="fa fa-cog"></i></h2>
                                </div>
                                <div class="login-logo"><h2>Reduce Maintenance Expenses</h2></div>
                                <span class="desc">Reduce the number of costly breakdown events and develop better oversight of your parts and supplies usages</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->
            <section id="signinn" class="welcome2 p-t-40 p-b-55">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                
                        <div class="login-wrap">
                            <div class="login-content" >
                                <div class="login-logo">
                                    
                                    <img src="images/icon/logo-mini.png" alt="Cool Admin" /> <strong>MMS</strong></a>
                                </div>
                                <div class="login-form">
                                
                                    <form action="/signIn" method="POST">
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                        </div>

                                        <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">sign in</button>
                                    </form>  
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>

    </div>
    <!-- POPUP-->
<div class="modal fade" id="modalAppointment" tabindex="-1" role="dialog" aria-labelledby="modalAppointmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          
                <div class="modal-body">
                    <form method="POST" action="/appointment/{{ id }}">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <h5 class="text-sm-center mt-2 mb-1">ROS</h5>
                                <div class="location text-sm-center">
                                    <i class="fas fa-phone"></i> +351 214 309 100</div>
                                <div class="location text-sm-center">
                                    <i class="far fa-envelope"></i> RoS_2021@gmail.com</div>
                                <div class="location text-sm-center">
                                    <i class="fa fa-map-marker"></i> Cairo, Egypt</div>

                            </div>
                    </form>
                </div>
             
        </div>
    </div>     
</div>


    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
